<header class="header" role="banner">
  <a href="./" aria-label="Homepage"><img src="assets/images/site-logo.png" class="logo" alt="Logo"></a>
  <ul class="nav-menu" role="navigation" aria-label="Main menu">
    <li class="nav-item">
      <a href="./" class="nav-link">See other photo</a>
    </li>
    <li class="nav-item">
      <a href="#about" class="nav-link">About</a>
    </li>
  </ul>
  <div class="hamburger" aria-label="Toggle navigation menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>
