<footer class="footer">
  <div class="footer-content">
    <div class="footer-icon">
      <a href="./" aria-label="Homepage">
        RANDOM ME LOGO
        <!-- <svg aria-hidden="true">
          <use href="icon/logo.svg#logo-icon"></use>
        </svg> -->
      </a>
    </div>
    <div class="footer-links">
      <div class="link-group">
        <ul>
          <li><a href="./">See other photo</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="footer-divider">
  <div class="footer-icons">
    <a href="{{emailUrl}}" aria-label="Contact me via email">
      <svg aria-hidden="true">
        <use href="icon/email.svg#email-icon"></use>
      </svg>
    </a>
    <a href="{{linkedInUrl}}" target="_blank" aria-label="Go to my LinkedIn account">
      <svg aria-hidden="true">
        <use href="icon/linkedin.svg#linkedin-icon"></use>
      </svg>
    </a>
    <a href="{{githubUrl}}" target="_blank" aria-label="Go to my GitHub account">
      <svg aria-hidden="true">
        <use href="icon/github.svg#github-icon"></use>
      </svg>
    </a>
    <a href="{{stackoverflowUrl}}" target="_blank" aria-label="Go to my Stack Overflow account">
      <svg aria-hidden="true">
        <use href="icon/stackoverflow.svg#stackoverflow-icon"></use>
      </svg>
    </a>
  </div>
  <div class="footer-copyright">
    <a href="https://diprefranco.github.io/" target="_blank">© {{currentYear}} Franco Dipre</a>
  </div>
</footer>
