<section id="about">
  <div>
    <h2>About</h2>
    <br />
    <p>
      Random Me is a simple, fun web app that displays a random photo of myself every time you visit or refresh the
      page.
    </p>
    <p>
      Random here means it's your device that will pick a photo from a collection using a <a href=""
        target="_blank">random routine</a>.
    </p>
    <br />
    <p>
      You can build your own random moments from <a href="" target="_blank">here</a>.
    </p>
  </div>
</section>
