<section class="photo">
  <div class="photo-image">
    <img src="img/kawe-rodrigues--ayoq1jzyKc-unsplash.jpg" class="horizontal" alt="Here's the description of the photo you are seeing.">
    <!-- <img src="img/jalil-saeidi-23IRsBMvmuw-unsplash.jpg" class="horizontal" alt="Here's the description of the photo you are seeing."> -->
    <!-- <img src="img/polina-kuzovkova-fv16_AJYLJY-unsplash.jpg" class="vertical" alt="Here's the description of the photo you are seeing."> -->
    <!-- <img src="img/ritul-bhattacharjee-HBJEJEErmlc-unsplash.jpg" class="vertical" alt="Here's the description of the photo you are seeing."> -->
  </div>
  <div class="photo-details">
    <p>
      Here's the description of the photo you are seeing.
    </p>
    <div class="photo-properties">
      <span class="property">Name: kawe-rodrigues.jpg</span>
      <span class="property">Place: Rio de Janeiro</span>
      <span class="property">Date: Jan 1, 2025</span>
      <span class="property">Ph: John Doe</span>
    </div>
  </div>
</section>
