<section class="photo">
  <div class="photo-image">
    <img src="{{photo.src}}" class="{{photo.orientation}}" alt="{{photo.description}}">
  </div>
  <div class="photo-details">
    <p>
      {{photo.description}}
    </p>
    <div class="photo-properties">
      <span class="property">
        <i class="fa fa-file"></i>{{photo.fileName}}
      </span>
      <span class="property">
        <i class="fa fa-calendar-alt"></i>{{photo.date}}
        <!-- Jan 1, 2025 -->
      </span>
      <span class="property">
        <i class="fa fa-map-marker-alt"></i>{{photo.location}}
      </span>
      <span class="property">
        <i class="fa fa-camera"></i>{{photo.photographer}}
      </span>
    </div>
  </div>
  <div class="photo-link">
    <a href="./">See other photo</a>
  </div>
</section>
